body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0f7fa, #80deea);
}

header {
    background-color: #e31414;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(37, 227, 20);
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #e86d0f;
}

.cta-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}